<!DOCTYPE html>
{{ if .Site.Params.announcement }}
    <div id="announce">
      {{ .Site.Params.announcement | markdownify}}
    </div>
{{ end }}


    <h2>What is angr?</h2>
    <p>angr is a python framework for analyzing binaries. It combines both static and dynamic symbolic ("concolic") analysis, making it applicable to a variety of tasks.</p>

    <p>As an introduction to angr's capabilities, here are some of the things that you can do using angr and the tools built with it:</p>

    <ul>
      <li>
      Control-flow graph recovery.
      <span>
        <input type="checkbox" id="cfg-example" class="expand-check">
        <label for="cfg-example"> <div class="show-more">show code</div> <div class="show-less">hide code</div> </label>
        <div class="expandable">
          {{ highlight .Site.Data.demos.cfg "python" "" }}
        </div>
      </span>
      <li>
      Symbolic execution.
      <span>
        <input type="checkbox" id="symexec-example" class="expand-check">
        <label for="symexec-example"> <div class="show-more">show code</div> <div class="show-less">hide code</div> </label>
        <div class="expandable">
            {{ highlight .Site.Data.demos.symbolic_execution "python" "" }}
            {{ highlight .Site.Data.demos.symbolic_execution_bash "bash" "" }}
        </div>
      </span>
      <li>
      Automatic ROP chain building using <a href="http://github.com/salls/angrop">angrop</a>.
      <span>
        <input type="checkbox" id="rop-example" class="expand-check">
        <label for="rop-example"> <div class="show-more">show code</div> <div class="show-less">hide code</div> </label>
        <div class="expandable">
            {{ highlight .Site.Data.demos.rop "python" "" }}
        </div>
      </span>
      <li>
      Automatic binary hardening using <a href="http://github.com/angr/patcherex">patcherex</a>.
      <span>
        <input type="checkbox" id="patcherex-example" class="expand-check">
        <label for="patcherex-example"> <div class="show-more">show code</div> <div class="show-less">hide code</div> </label>
        <div class="expandable">
            {{ highlight .Site.Data.demos.patcherex "" "" }}
        </div>
      </span>
      <li>
      Automatic exploit generation (for DECREE and simple Linux binaries) using <a href="http://github.com/shellphish/rex">rex</a>.
      <span>
        <input type="checkbox" id="rex-example" class="expand-check">
        <label for="rex-example"> <div class="show-more">show code</div> <div class="show-less">hide code</div> </label>
        <div class="expandable">
            {{ highlight .Site.Data.demos.rex "python" "" }}
        </div>
      </span>
      <li>
      Use <a href="https://github.com/angr/angr-management">angr-management</a>, a (very alpha state!) GUI for angr, to analyze binaries!
      <span>
        <input type="checkbox" id="am-example" class="expand-check">
        <label for="am-example"> <div class="show-more">show code</div> <div class="show-less">hide code</div> </label>
        <div class="expandable">
            {{ highlight .Site.Data.demos.angr_management "" "" }}
        </div>
      </span>
      <li>
      Achieve cyber-autonomy in the comfort of your own home, using <a href="http://shellphish.net/cgc/#tools">Mechanical Phish</a>, the third-place winner of the DARPA Cyber Grand Challenge.
    </ul>

		<p>angr itself is made up of several subprojects, all of which can be used separately in other projects:
    <ul>
      <li>an executable and library loader, <a href="https://github.com/angr/cle">CLE</a></li>
      <li>a library describing various architectures, <a href="https://github.com/angr/archinfo">archinfo</a></li>
      <li>a Python wrapper around the binary code lifter VEX, <a href="https://github.com/angr/pyvex">PyVEX</a></li>
	  	<li>a data backend to abstract away differences between static and symbolic domains, <a href="https://github.com/angr/claripy">Claripy</a></li>
	  	<li>the program analysis suite itself, <a href="https://github.com/angr/angr">angr</a></li>
    </ul>

    <h2>How do I install angr?</h2>
    <p>angr installs through pip! We recommend installing it in a virtualenv:</p>
    {{ highlight .Site.Data.install.pip "" "" }}

    <h2>How do I use angr?</h2>
    <p>There are a few resources you can use to help you get up to speed!</p>

      <ul>
        <li>Check out <a href="/blog">the blog</a>! We're slowly adding many useful examples, tutorials, and walkthroughs there.
        <li>Documentation and walk-throughs available in <a href="http://docs.angr.io">e-book form</a> and <a href="https://github.com/angr/angr-doc">repository form</a>, including ready-to-run <a href="https://github.com/angr/angr-doc/blob/master/docs/examples.md">examples</a>
        <li>The <a href="http://api.angr.io">API reference</a>
        <li>The presentations from angr's debut at <a href="https://docs.google.com/presentation/d/1t7KaCMc73z7WdV7EcL0z9TSHlT_kjdMdSrPHtpA6ezc/edit#slide=id.p">DEFCON 23</a> <a href="https://www.youtube.com/watch?v=oznsT-ptAbk">(video)</a> and <a href="https://docs.google.com/presentation/d/1kwObiKZsPSpxM0uZByzeRTaLC7RS1E2C7UR6HxD7Y1Y/edit#slide=id.p4">Blackhat 2015</a> <a href="https://youtu.be/Fi_S2F7ud_g">(video)</a>
        <li>Presentations discussing Shellphish's use of angr in the DARPA Cyber Grand Challenge at <a href="http://cs.ucsb.edu/~antoniob/files/hitcon_2015_public.pdf">HITCON ENT 2015</a>, <a href="https://docs.google.com/presentation/d/1ko1a28XL1nOm6LfqW5fCk6qjFmnhGIATyGDlAnxNcaA/edit#slide=id.p">HITCON CMT 2015</a>, and <a href="https://www.youtube.com/watch?v=l4kmWhYija0">32C3</a> <a href="https://www.youtube.com/watch?v=XGhg19_GXnM">(video)</a>
    </ul>

    <h2><a name="contact">How do I get involved (or get help)?</a></h2>
    <p>There are a few resources you can use to help you get up to speed or get you contributing to the project!</p>

      <ul>
        <li>We primarily use slack for communication, at <a href="http://angr.slack.com">angr.slack.com</a>. You can get an invite <a href="/invite">here</a>.
        <li>You can file an issue or send us a PR on <a href="https://github.com/angr">github</a> in the appropriate repo.
        <li>If you prefer email, and don't mind longer response times, shoot an email to angr-at-lists.cs.ucsb.edu. This is a <b>public</b> mailing list (to which you can subscribe <a href="https://lists.cs.ucsb.edu/mailman/listinfo/angr">here</a>).
    </ul>

    <p>In all this, please keep in mind that angr is a large project being frantically worked on by a very small group of overworked students. It's open source, with a typical open source support model (i.e., pray for the best).</p>
    <p>For an idea of <i>what</i> to help with, check <a href="https://docs.angr.io/introductory-errata/helpwanted">this</a> out.

    <h2>Can angr be used for science?</h2>

    <p>We have used angr heavily in our academic research! If you have used angr or its sub-components in your research, please cite at least the following paper describing it:</p>

    <pre>@inproceedings{shoshitaishvili2016state,
  title={{"{{"}}SoK: (State of) The Art of War: Offensive Techniques in Binary Analysis{{"}}"}},
  author={Shoshitaishvili, Yan and Wang, Ruoyu and Salls, Christopher and
          Stephens, Nick and Polino, Mario and Dutcher, Audrey and Grosen, John and
          Feng, Siji and Hauser, Christophe and Kruegel, Christopher and Vigna, Giovanni},
  booktitle={IEEE Symposium on Security and Privacy},
  year={2016}
}</pre>

    <!-- code from http://dabblet.com/gist/3157489 -->
    <div>
      <input type="checkbox" id="showhide" class="expand-check">
      <label for="showhide">
        <div class="show-more" id="show-more-papers">Show more papers</div>
        <div class="show-less" id="show-more-papers">Show fewer papers</div>
      </label>
      <div class="expandable">
        <p>Additionally, the angr authors and their collaborators have used angr in the following publications:</p>

<pre>

@inproceedings{gritti2020symbion,
 author = {Gritti, Fabio and Fontana, Lorenzo and Gustafson, Eric and Pagani, Fabio and Continella, Andrea and Kruegel, Christopher and Vigna, Giovanni},
 booktitle = {Proceedings of the IEEE Conference on Communications and Network Security (CNS)},
 month = {June},
 title = {SYMBION: Interleaving Symbolic with Concrete Execution},
 year = {2020}
}

@inproceedings{bao2017your,
  title={{"{{"}}Your Exploit is Mine: Automatic Shellcode Transplant for Remote Exploits{{"}}"}},
  author={Bao, Tiffany and Wang, Ruoyu and Shoshitaishvili, Yan and Brumley, David},
  booktitle={IEEE Symposium on Security and Privacy},
  year={2017}
}

@inproceedings{machiry2017boomerang,
  title={{"{{"}}BOOMERANG: Exploiting the Semantic Gap in Trusted Execution Environments{{"}}"}},
  author={Machiry, Aravind and Gustafson, Eric and Spensky, Chad and Salls, Christopher
          and Stephens, Nick and Wang, Ruoyu and Bianchi, Antonio and Choe, Yung Ryn and
          Kruegel, Christopher and Vigna, Giovanni},
  booktitle={Proceedings of the 2017 Network and Distributed System Security Symposium},
  year={2017}
}

@inproceedings{wang2017ramblr,
  title={{"{{"}}Ramblr: Making Reassembly Great Again{{"}}"}},
  author={Wang, Ruoyu and Shoshitaishvili, Yan and Bianchi, Antonio and Aravind, Machiry
          and Grosen, John and Grosen, Paul and Kruegel, Christopher and Vigna, Giovanni},
  booktitle={Proceedings of the 2017 Network and Distributed System Security Symposium},
  year={2017}
}

@misc{shellphish-phrack,
  title={Cyber Grand Shellphish},
  author={Shellphish},
  note={\url{http://phrack.org/papers/cyber_grand_shellphish.html{{"}}"}},
  year={2017},
}

@inproceedings{stephens2016driller,
  title={{"{{"}}Driller: Augmenting Fuzzing Through Selective Symbolic Execution{{"}}"}},
  author={Stephens, Nick and Grosen, John and Salls, Christopher and Dutcher, Audrey and
          Wang, Ruoyu and Corbetta, Jacopo and Shoshitaishvili, Yan and
          Kruegel, Christopher and Vigna, Giovanni},
  booktitle={Proceedings of the 2016 Network and Distributed System Security Symposium},
  year={2016}
}

@inproceedings{shoshitaishvili2015firmalice,
  title={{"{{"}}Firmalice - Automatic Detection of Authentication Bypass Vulnerabilities
         in Binary Firmware{{"}}"}},
  author={Shoshitaishvili, Yan and Wang, Ruoyu and Hauser, Christophe and
          Kruegel, Christopher and Vigna, Giovanni},
  booktitle={Proceedings of the 2015 Network and Distributed System Security Symposium},
  year={2015}
}</pre>

    <p>Finally, angr (or its subcomponents) have been used in many other academic works:</p>

<pre>
@article{parvez2016combining,
  title={{"{{"}}Combining Static Analysis and Targeted Symbolic Execution for Scalable
         Bug-finding in Application Binaries{{"}}"}},
  author={Parvez, Muhammad Riyad},
  year={2016},
  publisher={University of Waterloo}
}

@inproceedings{pewny2015cross,
  title={{"{{"}}Cross-Architecture Bug Search in Binary Executables{{"}}"}},
  author={Pewny, Jannik and Garmany, Behrad and Gawlik, Robert and Rossow, Christian
          and Holz, Thorsten},
  booktitle={Security and Privacy (SP), 2015 IEEE Symposium on},
  pages={709--724},
  year={2015},
  organization={IEEE}
}

@inproceedings{vogl2014dynamic,
  title={{"{{"}}Dynamic hooks: hiding control flow changes within non-control data{{"}}"}},
  author={Vogl, Sebastian and Gawlik, Robert and Garmany, Behrad and Kittel, Thomas
          and Pfoh, Jonas and Eckert, Claudia and Holz, Thorsten},
  booktitle={23rd USENIX Security Symposium (USENIX Security 14)},
  pages={813--328},
  year={2014}
}
</pre>
      </div>
    </div>


    <p>Semi-academically, angr was one of the underpinnings of Shellphish's Cyber Reasoning System for the DARPA Cyber Grand Challenge, enabling them to win third place in the final round (more info <a href="http://shellphish.net/cgc">here</a>)! Shellphish has also used angr in many CTFs.</p>

    <h2>Who works on angr?</h2>
    <p>angr is worked on by several researchers in <a href="http://seclab.cs.ucsb.edu">the Computer Security Lab at UC Santa Barbara</a> and <a href="http://sefcom.asu.edu">SEFCOM at Arizona State University</a>. Core developers (arbitrarily, 1000+ lines of code!) include:</p>
    <ul>
      <li>Yan Shoshitaishvili</li>
      <li>Ruoyu (Fish) Wang</li>
      <li>Audrey Dutcher</li>
      <li>Lukas Dresel</li>
      <li>Eric Gustafson</li>
      <li>Nilo Redini</li>
      <li>Paul Grosen</li>
      <li>Colin Unger</li>
      <li>Chris Salls</li>
      <li>Nick Stephens</li>
      <li>Christophe Hauser</li>
      <li>John Grosen</li>
    </ul>

    <p>angr would never have happened if it were not for the vision, wisdom, guidance, and support of the professors:</p>
    <ul>
      <li>Christopher Kruegel</li>
      <li>Giovanni Vigna</li>
    </ul>

    <p>Additionally, there are <i>many</i> open-source contributors, which you can see at
    <a href="https://github.com/angr/angr/graphs/contributors">the</a>
    <a href="https://github.com/angr/claripy/graphs/contributors">various</a>
    <a href="https://github.com/angr/cle/graphs/contributors">repositories</a>
    <a href="https://github.com/angr/pyvex/graphs/contributors">in</a>
    <a href="https://github.com/angr/archinfo/graphs/contributors">the</a>
    <a href="https://github.com/angr/patcherex/graphs/contributors">github</a>
    <a href="https://github.com/shellphish/rex/graphs/contributors">orgs</a>.

      <!-- content ends here -->
    </div>
